.admin_input{
    color: #000001;
    background-color: lightgray;
    padding: 2px;
    border-radius: 5px;

}

.admin_input2{
    color: #000001;
    background-color: lightgray;
    padding: 2px;
    border-radius: 5px;
    margin-right:10px;

}


.admin_select{
    color: #000001;
    background-color: lightgray;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
}
.admin_button{
    color:black;
    border-radius: 5px;
    background-color: #0dc615;
    padding:2px;
    margin-top:10px;
    width: fit-content;

    box-shadow: 3px 3px 3px #3d6734;
}

.admin_button2{
    color:black;
    border-radius: 5px;
    background-color: lightgrey;
    padding:2px;
    margin-top:20px;
    width: fit-content;
}

.alert-button{
    color:black;
    background-color: #a30303;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 3px 3px 3px #3d6734;
}

.alert-button:hover{
    color:white;
    background-color: #dd3333;
    border-radius: 5px;

    padding: 2px;
}

.admin_button:hover{
    color:white;
    background-color: #038f0a;
    border-radius: 5px;

    padding: 2px;
}

