@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-input {
  color: #000001;
  background-color: lightgray;
  margin-bottom:2px;
  width: 100%;
  border-radius: 5px;
}

.custom-textarea {
  color: #000001;
  background-color: lightgray;
  margin-bottom:2px;
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
}

.comments-textarea {
  color: #000001;
  background-color: lightgray;
  margin-bottom:2px;
  width: 50%;
  min-height: 100px;
  border-radius: 5px;
}


.custom-select{
  color: #000001;
  background-color: lightgray;
  margin-bottom:6px;
  border-radius: 5px;
}

.ocena-select{
  color: #000001;
  background-color: lightgray;
  margin-bottom:6px;
  width: 10%;
  border-radius: 5px;
}


.custom-checkbox{
  color: #000001;
  background-color: lightgray;
  margin-bottom:2px;
  float: left;
  border-radius: 5px;
}

.custom-button{
  color:black;
  background-color: lightgrey;
  padding:2px;
  margin:2px;
  border-radius: 5px;
}



.log-button{
  color:black;
  background-color: lightgrey;
  padding:3px;
  margin:2px;
  border-radius: 5px;

}

.button-table{
  color: #000001;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  background-color: lightgrey;
}

.table-header {
  color: #000001;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
  border: solid black 2px;
}

.table-cell {
  color: #000001;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
  border: solid black 2px
}

.custom-inbox{
  color: #000001;
  background-color: lightgray;
}